<% @orders.each do |order|

  if order.verified_order?
    verified = "Yes"
  else verified = "No"
  end
  %>
    <tr>
      <td><%= order.user_id %></td>
      <td><%= order.order_name %></td>
      <td><%= order.exchange_type %></td>
      <td><%= order.frequency_type %></td>
      <td><%= order.rate %></td>
      <td><%= order.amount %></td>
      <!--<td> number_to_currency order.amount </td>-->
      <td><%= verified %></td>
      <td><%= order.created_at %></td>
      <td><%= order.updated_at %></td>
        <td><%= link_to "Delete",  class: "btn btn-primary"%></td>
    </tr>
<% end %>